html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* ------- Baseline Elements ------ */
/* -------------------------------- */
body {
  font-family: sans-serif;
  line-height: 1.5;
}

h2 {
  margin-bottom: 1rem;
  font-size: 1.8rem;
}

h3 {
  margin-bottom: 1rem;
}

p {
  font-family: georgia;
  line-height: 1.75;
}

.wrapper {
  padding: 2%;
  margin: 0 auto;
}

/*  ---- IMAGES -------- */

@media screen and (max-width: 399px) {
	#column1 {
		content: url("http://placehold.it/400x400");
		overflow: hidden;
		
	}
}

@media screen and (max-width: 600px) {
	#column1 {
		content: url("http://placehold.it/600x600");
		overflow:hidden;
		
	}
}

@media screen and (max-width: 800px) {
	#column1, #column2 {
		content: url("http://placehold.it/400x400");
		overflow: hidden;
	}
}

@media screen and (max-width: 1023px) {
	#column1, #column2 {
		content: url("http://placehold.it/512x512");
		overflow: hidden;
	}
}

@media screen and (max-width: 1024px) {
	#column1, #column2, #column3 {
		content: url("http://placehold.it/340x340");
		overflow:hidden;
		
}

@media screen and (min-width: 1025px) {
	#column1 {
		content: url("http://placehold.it/600x600");
		overflow:hidden;
	}
}

/* ------------ Header ------------ */
/* -------------------------------- */
header{
  text-align: center;
  margin-top: 2rem
}



/* ------------- Grid ------------- */
/* -------------------------------- */

/*  ---- 1 column --------- */

@media screen and (min-width: 600px) {
  .col-container {
    margin: 1rem 0;
  }
  #column1 {
  margin: 1rem 0 0 0;
	}
}

/* -- 2 Columns -- */
@media screen and (min-width: 601px and max-width: 1023px) {

  #column1, #column2 {
    float: left;
    /* -- 49.5 + 49.5= 99% -- */
    width: 49.5%;
    /* -- 1 -- */
    margin: 0 0 0 1%;
  }

  #column1 {
    margin-left: 0;
  }

}


/* -- 3 columns  -- */
@media screen and (min-width: 1024px and max-width: 1024px) {

  #column1, #column2, #column3 {
    float: left;
    /* -- 32.66 + 32.66 + 32.66 = 97.98% -- */
    width: 32.66%;
    /* -- 1 + 1 = 2 --*/
    margin: 0 0 0 1%;
  }

  #column1 {
    margin-left: 0;
  }

}

/* -- 1 columns but 1025 -- */
@media screen and (min-width: 1025px) {

 #column1 {
    margin: 0 auto;
	width: 100%;
  }
}



/* ------------ Footer ------------ */
/* -------------------------------- */
.footer {
  background: #111;
  text-align: center;
  clear:both;
  color: #fff;
}